$prefix-list: '' , -moz- , -webkit-;
@mixin SetVenderPrefix( $name, $value ) {
    @each $prefix in $prefix-list {
        #{$prefix}#{$name}: $value;
    }
}

.box {
	@include SetVenderPrefix(border-radius, 7px);
	border: solid 1px #999;
	background-color: #f0f0f0;
	margin: 12px;
	text-align: center;
}
